
:root {
    --bg-bar: rgb(32, 32, 32);
    --bg-main: rgb(24, 24, 24);
    --light-gray: rgb(56, 56, 56);
    --icons: rgb(144, 144, 144);
    --text: rgb(255, 255, 255);
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: var(--bg-main);
  }
  
  .exp-topbar{
    z-index: 2;
    top: 0;
    position: fixed;
    width: 100%;
    padding: 6px;
    height: 60px;
    padding: 0 15px 0 15px;
    background-color: var(--bg-bar);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .exp-sidebar {
    position: fixed;
    top: 60px;
    font-family: sans-serif;
    background-color: var(--bg-bar);
    color: rgba(255, 255, 255, 0.651);
    /* margin-top: 60px; */
    height: 100vh;
    width: 220px;
    align-items: center;
    padding-right: 10px;
    overflow: scroll;
  }
  
  .exp-sidebar ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .exp-sidebar li {
    text-align: left;
    padding-left: 30px;
    width: 190px;
    font-size: .9em;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
  }
  .exp-sidebar h4 {
    padding-left: 30px;
  }
  .exp-sidebar li i{
    margin-right: 20px;
  }
  .exp-sidebar li:hover, .sidebar li.active{
    background-color: var(--light-gray);
  }
  
  li.active {
    color: white;
  }
  
  
  .exp-sidebar .exp-section {
    border-bottom: 1px solid var(--light-gray)
  }
  
  
  .exp-topbar i {
    color: white;
  }
  
  .exp-logo {
    width: 80px;
  }
  
  .exp-fas, .exp-fab {
    font-size: 1.3em;
    margin-left: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .exp-fa-bars {
    color: white;
    margin-left: 1em;
    margin-right: 3em;
  }
  
  #youtube-paths {
    fill: white;
  }
  
  .exp-left, .exp-middle, .exp-right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .exp-left {
    width: 500px;
  }
  .exp-left i{
    margin-right: 20px;
  }
  
  .exp-middle .exp-search input{
    background-color: var(--bg-main);
    border: 1px solid var(--light-gray);
    padding: 7px;
    width: 500px;
    font-size: 1.2em;
    color: lightgray;
  
    border-collapse: collapse;
  }
  
  .exp-middle .exp-search input:focus{
    border: 2px solid rgb(255, 0, 0);
  }
  
  .exp-search{
    display: flex;
    flex-direction: row;
  }
  
  .exp-middle .exp-search .exp-searchbtn {
    height: 2em;
    width: 80px;
    font-size: 1.2em;
    color: rgb(122, 122, 122);
    background-color: var(--light-gray);
    display: grid;
    text-align: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
  }
  .exp-searchbtn i {
    color: white;
    opacity: .4;
  }
  .exp-searchbtn:hover i {
    opacity: .8;
  }
  
  .exp-topbar .exp-middle .exp-fa-microphone {
    margin-left: 20px;
  }
  
  .exp-right {
    width: 300px;
    justify-content: space-evenly;
  }
  .exp-right .exp-icons {
    display: flex;
    justify-content: space-between;
    width: 130px;
  }
  
  img.profile {
    height: 2.2em;
    border-radius: 50%;
  }
  
  .exp-content{
    margin-top: 30px;
    margin-left: 250px;
    padding-top: 3%;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
  }
  
  .exp-content_bottom {
    margin-top: 10px;
    margin-left: 250px;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
  }
  
  .exp-vid {
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
.explore-container {
    margin: 10px 10px 10px 10px;
    width: fit-content;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    width: 180px;
    height: 135px;
    text-align: center;
}

  .exp-vid .exp-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .exp-below {
    display: inline;
    width: 90px;
    margin-left: 8px;
  }
  
  .exp-vid .exp-info h2, .exp-vid .exp-info p{
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
  .exp-info h2 {
    font-size: 16px;
    color: white;
    cursor: pointer;
  }
  .exp-info p{
    color: #aaaaaa;
  }
  
  p.username:hover{
    color: white;
  }
  
  .exp-info i {
    margin-top: 5px;
    color: #aaaaaa;
  }
  
  .exp-preview .exp-time {
    font-size: .8em;
    position: absolute;
    transform: translate(300px, -30px);
    padding: 3px;
    padding-right: 5px;
    border-radius: 3px;
    color: white;
    background-color: rgba(0, 0, 0, 0.733);
  }
  .exp-hovicons {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translate(310px, -190px);
    opacity: 0;
  }
  
  .exp-vid:hover .exp-hovicons {
    opacity: 1;
  }
  
  .exp-hovicons i{
    color: white;
    background-color: rgba(0, 0, 0, 0.733);
    margin-bottom: 5px;
    padding: 4px 4px 4px 4px;
    border-radius: 3px;
  }
  
  /* custom scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--bg-bar);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--light-gray);
    opacity: 0;
    border-radius: 4px;
  }
  
  .exp-video_heading {
    font-size: 16px;
    font-family: 'Georgia';
    color: white;
    font-weight: 600;
    margin-top: 10px;
    width : 50vw;
    margin-left: 20px;
  }

  .exp-video_text {
      margin-top: 12px;

  }
  
  .exp-video_bottom_text {
    font-size: 14px;
    font-family: 'Times New Roman';
    color: rgba(182, 186, 187, 0.747);
    margin-top: 10px;
    width : 30vw;
    margin-left: 20px;
  }
  
  .exp-para_text {
    font-size: 14px;
    font-family: 'Trebuchet MS';
    color: rgb(238, 169, 169);
    width : 50vw;
    margin-left: 20px;
  }

  .exp-icon-explore {
      width: 80px;
      height: 70px;
      border-radius: 10px;
      margin-top: 10px;
  }

  .explore-content {
      font-size: 20px;
      font-family: 'Lucida Sans';
      font-weight: 600;
  }