
:root {
  --bg-bar: rgb(32, 32, 32);
  --bg-main: rgb(24, 24, 24);
  --light-gray: rgb(56, 56, 56);
  --icons: rgb(144, 144, 144);
  --text: rgb(255, 255, 255);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-main);
}

.pl-topbar{
  z-index: 2;
  top: 0;
  position: fixed;
  width: 100%;
  padding: 6px;
  height: 60px;
  padding: 0 15px 0 15px;
  background-color: var(--bg-bar);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pl-sidebar {
  position: fixed;
  top: 60px;
  font-family: sans-serif;
  background-color: var(--bg-bar);
  color: rgba(255, 255, 255, 0.651);
  /* margin-top: 60px; */
  height: 100vh;
  width: 220px;
  align-items: center;
  padding-right: 10px;
  overflow: scroll;
}

.pl-sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.pl-sidebar li {
  text-align: left;
  padding-left: 30px;
  width: 190px;
  font-size: .9em;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.pl-sidebar h4 {
  padding-left: 30px;
}
.pl-sidebar li i{
  margin-right: 20px;
}
.pl-sidebar li:hover, .sidebar li.active{
  background-color: var(--light-gray);
}

li.active {
  color: white;
}


.pl-sidebar .pl-section {
  border-bottom: 1px solid var(--light-gray)
}


.pl-topbar i {
  color: white;
}

.pl-logo {
  width: 40px;
}

.logo-title {
  color: red;
}

.pl-fas, .pl-fab {
  font-size: 1.3em;
  margin-left: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.pl-fa-bars {
  color: white;
  margin-left: 1em;
  margin-right: 3em;
}

#youtube-paths {
  fill: white;
}

.pl-left, .pl-middle, .pl-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pl-left {
  width: 500px;
}
.pl-left i{
  margin-right: 20px;
}

.pl-middle .pl-search input{
  background-color: var(--bg-main);
  border: 1px solid var(--light-gray);
  padding: 7px;
  width: 500px;
  font-size: 1.2em;
  color: lightgray;

  border-collapse: collapse;
}

.pl-middle .pl-search input:focus{
  border: 2px solid rgb(255, 0, 0);
}

.pl-search{
  display: flex;
  flex-direction: row;
}

.pl-middle .pl-search .pl-searchbtn {
  height: 2em;
  width: 80px;
  font-size: 1.2em;
  color: rgb(122, 122, 122);
  background-color: var(--light-gray);
  display: grid;
  text-align: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
.pl-searchbtn i {
  color: white;
  opacity: .4;
}
.pl-searchbtn:hover i {
  opacity: .8;
}

.pl-topbar .pl-middle .pl-fa-microphone {
  margin-left: 20px;
}

.pl-right {
  width: 300px;
  justify-content: space-evenly;
}
.pl-right .pl-icons {
  display: flex;
  justify-content: space-between;
  width: 130px;
}

img.profile {
  height: 2.2em;
  border-radius: 50%;
}

.pl-content{
  margin-top: 30px;
  margin-left: 250px;
  padding-top: 3%;
  font-family: sans-serif;
}

.pl-content_bottom {
  margin-top: 10px;
  font-family: sans-serif;
}

.pl-vid {
  margin: 10px 10px 10px 10px;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pl-vid .pl-info {
  justify-content: space-between;
}

.pl-below {
  display: inline;
  width: 90px;
  margin-left: 8px;
}

.pl-vid .pl-info h2, .pl-vid .pl-info p{
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.pl-info h2 {
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.pl-info p{
  color: #aaaaaa;
}

p.username:hover{
  color: white;
}

.pl-info i {
  margin-top: 5px;
  color: #aaaaaa;
}

.pl-preview .pl-time {
  font-size: .8em;
  position: absolute;
  transform: translate(300px, -30px);
  padding: 3px;
  padding-right: 5px;
  border-radius: 3px;
  color: white;
  background-color: rgba(0, 0, 0, 0.733);
}
.pl-hovicons {
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translate(310px, -190px);
  opacity: 0;
}

.pl-vid:hover .pl-hovicons {
  opacity: 1;
}

.pl-hovicons i{
  color: white;
  background-color: rgba(0, 0, 0, 0.733);
  margin-bottom: 5px;
  padding: 4px 4px 4px 4px;
  border-radius: 3px;
}

/* custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-bar);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  opacity: 0;
  border-radius: 4px;
}

.pl-video_heading {
  font-size: 16px;
  font-family: 'Georgia';
  color: white;
  font-weight: 600;
  margin-top: 10px;
  width : 550px;
  margin-left: 10px;
}

.pl-video_bottom_text {
  font-size: 14px;
  font-family: 'Times New Roman';
  color: rgba(182, 186, 187, 0.747);
  margin-top: 10px;
  width : 30vw;
  margin-left: 30px;
}

.pl-para_text {
  font-size: 14px;
  font-family: 'Trebuchet MS';
  color: rgb(238, 169, 169);
  margin-left: 30px;
}

.pl-page-content {
  color: white;
  font-family:'Franklin Gothic Medium';

}



.rt-video_heading {
  font-size: 14px;
  font-family: 'Georgia';
  color: rgb(212, 208, 208);
  font-weight: 600;
  margin-top: 10px;
  margin-left: 10px;
}

.rt-video_bottom_text {
  font-size: 12px;
  font-family: 'Times New Roman';
  color: rgba(182, 186, 187, 0.747);
  width: 250px;
  margin-top: 10px;
  margin-left: 10px;
}

.rt-para_text {
  font-size: 12px;
  font-family: 'Trebuchet MS';
  color: rgb(238, 169, 169);
  width: 250px;
  margin-left: 10px;
}

.rt-page-content {
  color: white;
  font-family:'Franklin Gothic Medium';

}

.rt-video_text {
  margin-top: 10px;
}

.pl-icons {
  font-size: 10px;
  color: rgb(201, 186, 186);
  font-weight: 500;
}


.pl-views {
  font-size: 14px;
  color: rgb(201, 186, 186);
  margin-right: 200px;
  margin-left: 15px;
}

.profile-size {
  width: 35px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
}

.pl-comment-sec {
  margin-left: 10px;
  color: white;
  font-family: 'Lucida Sans Regular';
}

.pl-comment {
  color: rgb(197, 194, 194);
  font-size: 20px;
  font-family: 'Gill Sans';
  margin: 10px;
  padding-bottom: 15px;
  font-weight: 700;
}

.pl-user-comment {
  width: 450px;
  padding-top: 10px;
  font-family: 'Times New Roman';
  color: #aaaaaa;
}

.pl-line {
  background-color: white;
  border-style: solid;
  width: 520px;
  margin-left: 10px;
}

.pl-icons-sec {
  margin-top: 10px;
}